html{
  background-color: #EDEDED;
  
}
.App {
  text-align: center;
  font-family:"Neue-Helvetica","Helvetica","Arial","sans-serif" ;
}
.Main_Back1{
 width: 100vw;
 height: 100vh;
 z-index: -1;
 background-color: #121212;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap : wrap;
 overflow: hidden;
 font-size: 50px;
 color: #EDEDED;
}
.Main_Back2{
  width: 100vw;
  height: auto;
  z-index: -1;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap : wrap;
  color:#EDEDED;
  
 }
.Main_Back1 img{
  height: 100vh;
}
.App-header {
  height: 10vw;
  position: fixed;
  display: flex;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: #121212;
  margin: 10px;
  
  font-family:"Neue-Helvetica","Helvetica","Arial","sans-serif" ;
  font-weight: lighter;
  filter: invert(1);
}
.Header_Blank{
  height: 20vh;
  margin: 10px;
  min-height: 130px;
}
.Header_Button{
  height:20vh;
  width: 3vmax;
  text-align: left;
  filter: invert(0.2);
  cursor: pointer;
}
.Button_Img{
  height: 12%;
}
.Header_Main{
  width: 23vmax;
  height: 90%;
  text-align: center;
}
.Logo_Img{
  width: 100%;
  filter: invert(0.8);
  z-index: 100;
  text-align: center;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  border-bottom: 0.5px solid white;
  cursor: pointer;
}
.Logo_Img img{
  width: 13vmax;
  z-index: 100;
}
.Square_Box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23vmax;
}
.Square{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5vmax;
  height: 2vmax;
  margin: 5px;
  border: 0.5px solid black;
  z-index: 1;
  cursor: pointer;
}
.List_Con{
  display:none;
  position: relative;
  width: calc(20vmax-10px);
  height: 15vmax;
  border: 0.5px solid black;
  background-color: rgb(237, 237, 237,0.9);
  bottom:8vmax;
  padding:10vmax 10px 10vmax 10px;
  z-index: -1;
}

.List{
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  padding:1px 1vmin 1px 1vmin;
  height: 25px;
  width:auto;
  border: 0.5px solid black;
  margin: 0.4vmin;
  font-size: calc(12px);
  cursor: pointer;
}
.List a{
  text-decoration: none;
}
.List_Blank{
  background-color: rgb(18, 18, 18,0.1);
}
.Header_Etc{
  height:20vh;
  width: 30vmin;
  text-align: right;
  font-size: calc(10px+10vmin);
  cursor: pointer;
}
.Footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: #121212;
  color: #EDEDED;
 
  padding-top: 30px;
}
.Box{
  height: 3000px;
}


.Big_Pic1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1167px;
  height: auto;
  margin-top: 12vmax;
  padding-bottom: 20px;
}
.Big_Pic1 img{
  width: 100%;
  height: auto;
}
.Big_Pic2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1167px;
  height: auto;
}
.Big_Pic2 img{
  width: 100%;
  height: 100%;
}
.Small_Pic{
  width: 32%;
  
}
.Small_Pic_Center{
  width: 32%;
  margin: 0 2% 0 2%;
}
